.contenedorGeneralModal
    flex-direction column
    position relative
    border-right: solid 4px;
    overflow: hidden;
    padding: 24px !important;

.circuloInfo
    position: absolute;
    left: -50px;
    top: -60px;
    border-radius: 50%;
    width: 150px;
    height: 150px;

.circuloInfo .contenedorIconoInfo
    width: 92px;
    height: 78px;
    position: absolute;
    top: 60px;
    left: 50px;

.circuloInfo .contenedorIconoInfo i
    color: #fff;
    font-size: 40px;

#cerrarModal
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 24px;

.tituloModal
    font-size: 20px
    margin-bottom: 12px;
    text-transform: uppercase
    width: 250px;
    max-width: 70%;
    text-align: center;
    line-height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

.tituloModal span
    width: 100%;

.contenedorModal
    width: 100%;

.contenedorModal p
    text-align: center;
    width: 80%;
    line-height: 1;
    margin-bottom: 12px;
    word-break: break-word;

.contenedorBotonModal
    width: 100%
    justify-content: flex-end

.contenedorBotonModal .botGeneral
    margin-top: 12px;
    margin-right: 12px;

.contenedorBotonModal .botGeneral i
    padding-bottom: 2px;