.contenedorGeneralModal
    flex-direction column
    position relative
    border-right: solid 4px;
    overflow: hidden;
    padding: 24px 24px 0 !important

.circuloInfo
    position: absolute;
    left: -50px;
    top: -60px;
    border-radius: 50%;
    width: 150px;
    height: 150px;

.circuloInfo .contenedorIconoInfo
    width: 92px;
    height: 76px;
    position: absolute;
    top: 60px;
    left: 50px;

.circuloInfo .contenedorIconoInfo i
    color: #fff;
    font-size: 40px;

#cerrarModal
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 24px;

.tituloModal
    font-size: 20px
    margin-bottom: 12px;
    text-transform: uppercase

.contenedorModal 
    width: 100%

.contenedorModal p
    text-align: center;
    width: 80%;
    line-height: 1;
    margin-bottom: 12px;

.contenedorBotonModal
    width: 120%
    background: #F2F2F2
    background: #f2f2f2;
    margin-top: 12px;
    padding: 8px 0px 18px 14px

.contenedorBotonModal .botGeneral
    min-width: 170px;
    margin-top: 12px;
    margin-right: 12px;
    text-transform: capitalize;

.contenedorBotonModal .botGeneral i
    padding-bottom: 2px;